body {
  font-family: 'Segoe UI', sans-serif;
  background: #f9f9f9;
  margin: 0;
  padding: 0;
}

header {
  background: linear-gradient(to right, #4b6cb7, #182848);
  color: white;
  padding: 20px;
  text-align: center;
  border-radius: 0 0 15px 15px;
}

.auth-box, .course-card, .lesson-card, .course-detail {
  background: white;
  padding: 15px;
  margin: 15px auto;
  border-radius: 15px;
  max-width: 800px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

input, button {
  padding: 10px;
  margin: 5px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  cursor: pointer;
  background: #4b6cb7;
  color: white;
  border: none;
  transition: 0.3s;
}

button:hover {
  background: #182848;
}

.course-card:hover {
  transform: translateY(-5px);
  transition: 0.3s;
}
